@font-face {
  font-family: "iconfont"; /* Project id 4045679 */
  src: url('../fonts/iconfont.woff2?t=1682840151963') format('woff2'),
       url('../fonts/iconfont.woff?t=1682840151963') format('woff'),
       url('../fonts/iconfont.ttf?t=1682840151963') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixiu:before {
  content: "\e602";
}

.icon-aichegujiabeifen7:before {
  content: "\e603";
}

.icon-xinchebaojia:before {
  content: "\e604";
}

.icon-wodekanjia:before {
  content: "\e605";
}

.icon-zizhuxiche:before {
  content: "\e606";
}

.icon-aichegujiabeifen6:before {
  content: "\e607";
}

.icon-remaihaoche:before {
  content: "\e608";
}

